{
  "keys": {
    "execute": ["enter"],
    "toggle_debug": ["f12"],
    "cycle_pane": ["tab"],
    "close_pane": ["esc"],
    "quit": ["ctrl+c"],
    "help": ["?"],
    "show_keys": ["ctrl+?"],

    "up": ["up"],
    "down": ["down"],
    "left": ["left"],
    "right": ["right"],
    "home": ["home"],
    "end": ["end"],
    "pgup": ["pgup"],
    "pgdn": ["pgdown"],

    "backspace": ["backspace"],
    "delete": ["delete"]
  }
}
